.teaser.case-study {
  position: relative;
  text-align: center;
  margin-bottom: $global-margin;
  @include breakpoint(medium) {
    margin-bottom: map-get($grid-column-gutter, medium);
  }
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.5);
    transition: background-color 500ms;
    &:hover {
      background-color: rgba(black, 0.8);
    }
  }
  img {
    width: 100%;
  }
  h2, h4 {
    color: $white;
  }
  h2 {
    @include breakpoint(small only) {
      font-size: map-get(map-get($header-sizes, small), h2) *0.75;
    }
  }
  h4 {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
  .content {
    padding: $global-padding*2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
.slick .teaser.case-study {
  margin-bottom: 0;
}

.case-studies {
  .small-teasers {
    @include breakpoint(medium) {
      display: none;
    }
  }
  .medium-teasers {
    display: none;
    @include breakpoint(medium only) {
      display: block;
    }
  }
  .large-teasers {
    display: none;
    @include breakpoint(large) {
      display: block;
    }
  }
}