<section class="call-to-action" style="background-image: url('{{ SP.ACF.get_field('call_to_action_background', 'option').url }}')">
    <div class="row column">
        <h2>
            {{ SP.ACF.get_field('call_to_action_text', 'option') }}
        </h2>
        <a href="#contact-form" class="primary button">{{ SP.ACF.get_field('call_to_action_button_text', 'option') }}</a>
    </div>
</section>