{% extends 'base.html.twig' %}
{% block content %}
    <section class="content">
        <div class="row column">
            {% if rows %}
                {% for row in rows %}
                    {{ row }}
                {% endfor %}
            {% else %}
                {{ SP.WordPress.content() }}
            {% endif %}
        </div>
    </section>
{% endblock %}