<div class="teaser case-study">
    {{ SP.WordPress.featuredImage() }}
    <a href="{{ SP.WordPress.url() }}">
        <div class="content">
            <h2>{{ SP.WordPress.title() }}</h2>
            <h4>{{ SP.ACF.get_field('subtitle') }}</h4>
        </div>
    </a>
</div>