@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "supertheme";

@import "layout/header";
@import "layout/call-to-action";
@import "layout/footer";
@import "layout/menu";

@import "panels/icons";
@import "panels/secondary-content";
@import "panels/logos";

h1, h2 {
  color: $primary-color;
}

h2+h4 {
  margin-bottom: $global-margin*2;
  font-weight: bold;
}