@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "supertheme";

@import "layout/header";
@import "layout/call-to-action";
@import "layout/footer";
@import "layout/menu";

@import "panels/icons";
@import "panels/secondary-content";
@import "panels/logos";
@import "panels/two-column";
@import "panels/centered-content";
@import "panels/case-studies-header";
@import "panels/case-studies";
@import "panels/content";
@import "panels/_icon-with-content";
@import "panels/_team-members";

@import "tesaers/case-studies";

h1, h2 {
  color: $primary-color;
}

h2+h4 {
  margin-bottom: $global-margin*2;
  font-weight: bold;
}

.slick-slider {
  margin: 0 rem-calc(-1px);
}
.slick-slide {
  height: auto;
  margin: 0 rem-calc(2px);
}
.slick-prev, .slick-next {
  background: none;
  z-index: 1;
  &::before {
    content: " ";
    display: block;
    font-family: "FontAwesome";
    font-size: 4rem;
    color: $anchor-color;
  }
}
.slick-prev {
  left: 1rem;
  &:before {
    content: "\f104";
  }
}
.slick-next {
  right: 1rem;
  &:before {
    content: "\f105";
  }
}