<section class="logos text-center">
    <div class="row">
        <div class="column">
            <h2>{{ SP.ACF.get_sub_field('title') }}</h2>
            <h4>{{ SP.ACF.get_sub_field('subtitle') }}</h4>
        </div>
    </div>
    <div class="row small-up-3 medium-up-4 large-up-6">
        {% for logo in SP.ACF.get_sub_field('logos')%}
            <div class="column">
                <img src="{{ logo.logo.url }}" alt="{{ logo.logo.title }}">
            </div>
        {% endfor %}
    </div>
</section>