<section class="two-column-content">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <img src="{{ SP.ACF.get_sub_field('image').url }}" alt="{{ SP.ACF.get_sub_field('image').title }}">
        </div>
        <div class="small-12 medium-6 columns">
            {{ SP.ACF.get_sub_field('content') }}
        </div>
    </div>
</section>